.main-footer {
    color: white;
    background-color: #0f172a;
    padding-top: 3rem;
    position: relative;
    bottom: 0;
    width: 100%;
}

.row {
    display: flex;
    justify-content: center;
    gap: 5vw;
}

.col {
    display: flex;
    flex-direction: column;
    
}

.list-unstyled {
    padding-left: 0;
}

.row ul li {
    list-style: none;
}

.rowBottom {
    display: flex;
    justify-content: center;
}

/* .page-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} */

/* .content-wrap{
    flex: 1;
} */
