.main-footer {
    color: white;
    background-color: #dc3545;
    padding-top: 3rem;
    position: relative;
    bottom: 0;
    width: 100%;
}

.row{
    display: flex;
}

/* .page-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} */

/* .content-wrap{
    flex: 1;
} */