.descheader{
    justify-content: space-around;
    display: flex;
    padding: 20px;
    border-bottom: 1px solid grey;
    width: 80%;
    margin: auto;
}

.descheading{
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.joinbutton{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#GroupSidebar{
    display: flex;
}

.groupelements ul{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-around;
    border-bottom: 1px solid grey;  
    text-decoration: none;
    padding: 20px;
    cursor: pointer;
}

.groupelements ul li{
    text-decoration: none; 
}

.grpaboutcontainer{
    width: 80%;
    margin: auto;
}

.grpeventscontainer, .grppostcontainer{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
}

.grpeventscontainer h1, .grppostcontainer h1{
    opacity: 0.2;
}
