/* .active {
    background-color: #1d4ed8;
} */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f172a;
    position: sticky;
    top: 0;
    height: 10vh;
    z-index: 10;
}

nav .title,
nav .homepage-title {
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

nav ul {
    display: flex;
}

.navCenter ul li,
.homepage-navCenter ul li {
    list-style: none;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    margin: 0 0.5rem;
}

.navCenter ul li a,
.homepage-navCenter ul li a {
    padding-bottom: 0.5rem;
    display: block;
    text-decoration: none;
    /* color: white; */
    border-radius: 0.5rem;
}

.navRight ul {
    display: flex;
    /* gap: 20px; */
}

.navRight ul li,
.homepage-navRight ul li {
    list-style: none;
}

.navRight ul li a,
.homepage-navRight ul li a {
    display: block;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    padding-top: 0.5rem;
    margin: 0 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
    cursor: pointer;
}

.logout {
    display: block;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    padding-top: 0.5rem;
    margin: 0 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
    cursor: pointer;
    color: black;
    background-color: white;
}

.homepage-logout {
    display: block;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    padding-top: 0.5rem;
    margin: 0 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
    cursor: pointer;
    color: white;
    background-color: #026fff;
}

.homepage-greeting {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.greeting {
    color: white;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.homepage-dashIcon {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-right: 8px;
}

.dashIcon {
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-right: 8px;
}

.navCenter ul li a,
.homepage-navCenter ul li a {
    display: inline-block;
    position: relative;
    color: black;
}

.navCenter ul li a::after,
.homepage-navCenter ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navCenter ul li a::after {
    background-color: white;
}

.homepage-navCenter ul li a::after {
    background-color: black;
}


.navCenter ul li a:hover::after,
.homepage-navCenter ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.homepage-navbar {
    background-color: #f9f8f4;
}

nav .title,
.navCenter ul li a {
    color: white;
}

.navRight ul li a {
    background-color: white;
    color: black;
}

.homepage-navRight ul li a {
    background-color: #026fff;
    color: white;
}

.navLeft {
    display: flex;
    padding-left: 1%;
}


.homepage-navdropdown, .navdropdown {
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: 58%;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.homepage-navdropdown{
    background-color: #026fff;
}

.navdropdown{
    background-color: #fff;
}

.homepage-navdropdown a, .navdropdown a{
    padding: 15px;
    align-items: center;
    display: flex;
    justify-content: left;
    text-decoration: none;
}

.homepage-navdropdown a, .navdropdown a{
    color: #fff;
}

.navdropdown a {
    color: #0f172a;
}

.homepage-navdropdown a:hover{
    background: #b3d4ff;
    color: #0f172a;
    border-radius: 10px;
}

.navdropdown a:hover{
    background: #0f172a;
    color: #fff;
    border-radius: 10px;
}



